@import url(//db.onlinewebfonts.com/c/a44207bfe4040f536c824dbbf82f5ed1?family=e-Ukraine);

.App {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  font-family: "e-Ukraine";

  grid-template-areas:
  "header header"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap: 10px;
}