.messenger {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialogs {
    padding: 10px;
}
.dialog_item {
    padding: 10px;
}
.dialog_item.active {
    color: white;
    background-color: lightblue;
}
.dialog_item a {
    color: #06329b;
    text-decoration: none;
}

.messages {
    padding: 10px;
    background-color: lightblue;
}
.message_item {
    padding: 10px;
}
.addMessage {

}